@charset "utf-8";

:root {
	--layout: "screen-LT90-portrait";
}

.kemosite-grid-layout {
	grid-template-columns: 1fr minmax(4ch, 60ch) 1fr;
	grid-template-rows: minmax(15ex, 33vh) auto auto 6ex;
	grid-gap: 1ex 1em;
	grid-template-areas:
		"kemosite-grid-area-section			kemosite-grid-area-section	kemosite-grid-area-section"
		"kemosite-grid-area-left-sidebar	kemosite-grid-area-main		kemosite-grid-area-right-sidebar"
		"kemosite-grid-area-footer			kemosite-grid-area-footer	kemosite-grid-area-footer"
		"kemosite-grid-area-menu			kemosite-grid-area-menu		kemosite-grid-area-menu";
}

.kemosite-grid-area-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
}

button.wp-block-navigation__responsive-container-open,
.kemosite-display-screen-mobile {
	display: flex;
}
.kemosite-display-screen-desktop {
	display: none;
}