@charset "utf-8";
/*-------------------------------------------------------------------
[COLOUR: TABLE OF CONTENTS]
---------------------------------------------------------------------

# Color codes are defined as CSS variables in functions.php

# html, body
# accessibility
# header
# navigation
# content
# forms
# media
# widgets
# rss
# search
# ads
# footer

-------------------------------------------------------------------*/

/*
 * Custom Properties are ideal for working with prefers-color-scheme
 * https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode
 */

/* No preferences */
:root {
	--transition-time: 125ms;
	--kemosite-cool-white: "#efeff0";
	--kemosite-base_black: "#242424";
	--kemosite-base-black-minus-blue: "#242400";
	--kemosite-success: "#40bf40";
	--kemosite-alert: "#bf4040";
	--kemosite-warning: "#bfbf40";
}

@media (prefers-reduced-motion: reduce) {

	:root {
		--transition-time: 0ms;
	}

}

body,
.help-text {
	background-color: var(--kemosite_wordpress_body_background_color);
	color: var(--kemosite_wordpress_body_color);
}

*::selection {
	background-color: var(--kemosite_wordpress_selection_colour);
	color: var(--kemosite_wordpress_selection_font_colour);
}

*::placeholder {
	color: var(--kemosite_wordpress_placeholder_color);
}

.off-canvas {
	/* filter: brightness(120%); */
	background-color: var(--kemosite_wordpress_placeholder_color);
}

.top-bar, .top-bar ul {
	background-color: var(--kemosite_wordpress_body_background_color);
}

.woocommerce-store-notice, p.demo_store {
	background-color: var(--kemosite_wordpress_component_warning_colour);
	color: var(--kemosite_wordpress_component_warning_font_colour);
}

.callout, .callout.primary {
	background-color: var(--kemosite_wordpress_body_background_color);
	border: 1px solid var(--kemosite_wordpress_component_colour);
	border-radius: .25rem;
	color: var(--kemosite_wordpress_body_color);
}

.callout.secondary {
	background-color: #fff;
	border: 1px solid var(--kemosite_wordpress_component_colour);
}

div.kemosite-grid-area-menu { 
	background-color: var(--kemosite_wordpress_placeholder_color);
}

div.kemosite-grid-area-section { 
	color: var(--kemosite_wordpress_header_font_color);
	background-color: var(--kemosite_wordpress_header_bg_color);
}

div.kemosite-grid-area-section section {
	background-color: var(--kemosite_wordpress_header_bg_color);
}

div.kemosite-grid-area-section section h1,
div.kemosite-grid-area-section section h1 a {
	color: var(--kemosite_wordpress_header_font_color);
}

.woocommerce .woocommerce-breadcrumb { color: var(--kemosite_wordpress_component_colour); }

h1,h2,h3,h4,h5,h6 { color: var(--kemosite_wordpress_component_colour); }
.subheader { color: var(--kemosite_wordpress_secondary_colour); }

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 { color: var(--kemosite_wordpress_component_colour); }

h1 a, h1 a:link,
h2 a, h2 a:link,
h3 a, h3 a:link,
h4 a, h4 a:link,
h5 a, h5 a:link,
h6 a, h6 a:link,
p a:not(.button), p a:link:not(.button),
li:not(.accordian-item) a, li:not(.accordian-item) a:link,
.woocommerce-breadcrumb a:not(img), .woocommerce-breadcrumb a:link:not(img),
.woocommerce .woocommerce-breadcrumb a, .woocommerce .woocommerce-breadcrumb a:link,
ul.wc-tabs li a, ul.wc-tabs li a:link,
div a:not(.button), div a:link:not(.button),
footer .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content
{	
	transition: all var(--transition-time) ease;
	color: var(--kemosite_wordpress_component_colour);
	filter: saturate(100%) brightness(100%); /* Something is wonky with the "Sale" WooCommerce button */
}

.woocommerce-tabs.wc-tabs-wrapper a,
.woocommerce-tabs.wc-tabs-wrapper a:link {
	color: var(--kemosite_wordpress_placeholder_color);
}

.accordion-title, .accordion-content { border-bottom: 1px }
.accordion-content { border-top: 0; }

h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus,
h4 a:hover, h4 a:focus,
h5 a:hover, h5 a:focus,
h6 a:hover, h6 a:focus,
p a:not(.button):hover, p a:not(.button):focus,
li a:hover, li a:focus,
li:not(.accordian-item) a:hover, li:not(.accordian-item) a:focus,
li.product a:hover, li.product a:focus,
.woocommerce-breadcrumb a:hover:not(img), .woocommerce-breadcrumb a:focus:not(img),
.woocommerce .woocommerce-breadcrumb a:hover, .woocommerce .woocommerce-breadcrumb a:focus,
ul.wc-tabs li a:hover, ul.wc-tabs li a:focus,
div a:not(.button):hover, div a:not(.button):focus,
div a:not(.wp-element-button):hover, div a:not(.wp-element-button):focus,
.woocommerce-tabs.wc-tabs-wrapper a:hover, .woocommerce-tabs.wc-tabs-wrapper a:focus
.kemosite-grid-layout .woocommerce .wp-block-woocommerce-product-details ul.tabs.wc-tabs li a:hover, .kemosite-grid-layout .woocommerce .wp-block-woocommerce-product-details ul.tabs.wc-tabs li a:focus
{
	background-color: var(--kemosite_wordpress_component_colour);
	color: var(--kemosite_wordpress_base_black);
	/* filter: saturate(50%) brightness(150%); */
}

div.wp-block-site-logo a.custom-logo-link:hover {
	background-color: transparent;
}

a[name]:hover, a[name]:focus {
	background-color: transparent;
}

.woocommerce ul.products li.product .price {
	color: var(--kemosite_wordpress_component_colour);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd),
.woocommerce-product-attributes tbody tr:nth-child(odd) {
	background-color: hsla(0,0%,50%,0.49);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(even),
.woocommerce-product-attributes tbody tr:nth-child(even) {
	background-color: hsla(0,0%,0%,0);
}

table tbody tr,
table tbody tr:nth-child(odd),
table tbody tr:nth-child(even),
wp-block-table.is-style-regular tbody tr {
	background-color: hsla(0,0%,0%,0);
}

.tabs, .card, table, table tbody, table tfoot, table thead {
	border: 1px solid var(--kemosite_wordpress_body_color) !important;
	background-color: hsla(0,0%,0%,0);
	color: var(--kemosite_wordpress_body_color);
}

ul.wp-block-navigation li.wp-block-navigation-item a:hover,
ul.wp-block-navigation li.wp-block-navigation-item.is-active > a,
ul.wp-block-navigation li.wp-block-navigation-item.is-active > a:link {
	background-color: var(--kemosite_wordpress_component_colour);
	color: var(--kemosite_wordpress_base_black);
	/* filter: saturate(50%) brightness(150%); */
}

p a.button, li.product .button, li a.button, li.product a.button, a.button, .button, button, button.button, button.close-button, button.wp-element-button, input.mailpoet_submit, input.pushbutton-wide, a.close-button,
button.wp-block-navigation__responsive-container-open, .wp-block-button__link, div.wp-block-button a.wp-block-button__link, /* Block button */
input.search-submit,
.onsale, .woocommerce-pagination span.page-numbers, .woocommerce-pagination a.page-numbers, .woocommerce-pagination a.next.page-numbers, .woocommerce-pagination a.prev.page-numbers,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, /* WooCommerce */
.woocommerce #respond input#submit.alt, .woocommerce a.button.wc-backward, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, /* WooCommerce */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, /*WooCommerce */
/* .wc-tabs a, .wc-tabs a:link, */ /* WooCommerce Tabs */
div.css-search div.em-search-main .em-search-submit, /* Events */
.woocommerce span.onsale /* WooCommerce On Sale Button */
{
	-webkit-box-shadow: 0 1px 0 var(--kemosite_wordpress_component_shadow_colour);
	box-shadow: 0 1px 0 var(--kemosite_wordpress_component_shadow_colour);
	-webkit-transition: -webkit-box-shadow ease-in-out var(--transition-time);
	transition: -webkit-box-shadow ease-in-out var(--transition-time);
	transition: box-shadow ease-in-out var(--transition-time);
	transition: box-shadow ease-in-out var(--transition-time),-webkit-box-shadow ease-in-out var(--transition-time);
	text-transform: uppercase;
	line-height: 1.5em;
	background: none;
	background-color: var(--kemosite_wordpress_component_colour);
	color: var(--kemosite_wordpress_component_font_colour);
	border: 0;
}

p a.button:hover, p a.button:focus, li.product .button:hover, li.product .button:focus, .button:hover, .button:focus, a.button:hover, a.button:focus,
.wp-block-button__link:hover, .wp-block-button__link:focus, div.wp-block-button a.wp-block-button__link:hover, div.wp-block-button a.wp-block-button__link:focus,
input.search-submit:hover, input.search-submit:focus,
button:hover, button:focus, input.mailpoet_submit:hover, input.mailpoet_submit:focus, input.pushbutton-wide:hover, input.pushbutton-wide:focus, button.button:hover, button.button:focus, button.close-button:hover, button.close-button:focus, a.close-button:hover, a.close-button:focus,
.woocommerce-pagination span.page-numbers:hover, .woocommerce-pagination span.page-numbers:focus, .woocommerce-pagination a.page-numbers:hover, .woocommerce-pagination a.page-numbers:focus,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, /* WooCommerce */
.woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus, /* WooCommerce */
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.wc-backward:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, /* WooCommerce */
.woocommerce #respond input#submit.alt:focus, .woocommerce a.button.wc-backward:focus, .woocommerce a.button.alt:focus, .woocommerce button.button.alt:focus, .woocommerce input.button.alt:focus, /* WooCommerce */
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, /*WooCommerce */
.woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus, /*WooCommerce */
.wc-tabs a:hover, .wc-tabs a:focus, /* WooCommerce Tabs */
div.css-search div.em-search-main .em-search-submit:hover, div.css-search div.em-search-main .em-search-submit:focus /* Events */ {
	-webkit-box-shadow: 0 2px 0 var(--kemosite_wordpress_component_shadow_colour);
	box-shadow: 0 2px 0 var(--kemosite_wordpress_component_shadow_colour);
	background: none;
	background-color: var(--kemosite_wordpress_component_colour);
	filter: saturate(50%) brightness(150%);
	/* filter: invert(100%); */
	color: var(--kemosite_wordpress_base_black);
}

/* [HOLLOW / OUTLINE BUTTONS */
.button.hollow,
.button.hollow.disabled, .button.hollow.disabled:focus, .button.hollow.disabled:hover,
.button.hollow[disabled], .button.hollow[disabled]:focus, .button.hollow[disabled]:hover,
.is-style-outline .wp-block-button__link, div.wp-block-button.is-style-outline a.wp-block-button__link /* Block button */ {
	background: none;
	border: 1px solid var(--kemosite_wordpress_component_colour);
	color: var(--kemosite_wordpress_component_colour);
}

.button.hollow:focus, .button.hollow:hover,
.is-style-outline .wp-block-button__link:hover, div.wp-block-button.is-style-outline a.wp-block-button__link:hover,
.is-style-outline .wp-block-button__link:focus, div.wp-block-button.is-style-outline a.wp-block-button__link:focus /* Block button */ {
	background: none;
	border: 1px solid var(--kemosite_wordpress_component_colour);
	color: var(--kemosite_wordpress_component_colour);
	filter: saturate(50%) brightness(150%);
}


/* [STATUS COLOURS] */

/* secondary */
.button.secondary,
a.button.secondary,
button.secondary, button.button.secondary,
.wp-block-button.secondary .wp-block-button__link { 
	background-color: var(--kemosite_wordpress_secondary_colour);
	color: var(--kemosite_wordpress_secondary_font_colour);
}
.button.secondary:hover,
a.button.secondary:hover,
button.secondary:hover, button.button.secondary:hover,
.wp-block-button.secondary .wp-block-button__link:hover { 
	background-color: var(--kemosite_wordpress_secondary_colour);
	color: var(--kemosite_wordpress_base_black);
	filter: saturate(50%) brightness(150%);
}

/* success */
.button.success,
a.button.success,
button.success, button.button.success,
.wp-block-button.success .wp-block-button__link { 
	background-color: var(--kemosite_wordpress_component_success_colour);
	color: var(--kemosite_wordpress_component_success_font_colour);
}
.button.success:hover,
a.button.success:hover,
button.success:hover, button.button.success:hover,
.wp-block-button.success .wp-block-button__link:hover { 
	background-color: var(--kemosite_wordpress_component_success_colour);
	color: var(--kemosite_wordpress_base_black);
	filter: saturate(50%) brightness(150%);
}

/* warning */
.button.warning,
a.button.warning,
button.warning, button.button.warning,
.wp-block-button.warning .wp-block-button__link { 
	background-color: var(--kemosite_wordpress_component_warning_colour);
	color: var(--kemosite_wordpress_component_warning_font_colour);
}
.button.warning:hover,
a.button.warning:hover,
button.warning:hover, button.button.warning:hover,
.wp-block-button.warning .wp-block-button__link:hover { 
	background-color: var(--kemosite_wordpress_component_warning_colour);
	color: var(--kemosite_wordpress_base_black);
	filter: saturate(50%) brightness(150%);
}

/* alert */
.button.alert,
a.button.alert,
button.alert, button.button.alert,
.wp-block-button.alert .wp-block-button__link { 
	background-color: var(--kemosite_wordpress_component_alert_colour);
	color: var(--kemosite_wordpress_component_alert_font_colour);
}
.button.alert:hover,
a.button.alert:hover,
button.alert:hover, button.button.alert:hover,
.wp-block-button.alert .wp-block-button__link:hover { 
	background-color: var(--kemosite_wordpress_component_alert_colour);
	color: var(--kemosite_wordpress_base_black);
	filter: saturate(50%) brightness(150%);
}

label { color: var(--kemosite_wordpress_component_colour) }

/* Disabled WooCommerce Buttons */
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
	color: var(--kemosite_wordpress_cool_white);
	background-color: var(--kemosite_wordpress_secondary_colour);
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
	color: var(--kemosite_wordpress_cool_white);
	background-color: var(--kemosite_wordpress_secondary_colour);
}

.dropdown.menu li.is-active > a { color: var(--kemosite_wordpress_base_black); }
.dropdown.menu > li.is-dropdown-submenu-parent > a::after { border-color: var(--kemosite_wordpress_component_colour) transparent transparent; }
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after { border-color: transparent transparent transparent var(--kemosite_wordpress_component_colour); }

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background-color: var(--kemosite_wordpress_cool_white);
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	background-color: var(--kemosite_wordpress_cool_white);
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
	border: 1em solid white;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.woocommerce-pagination { border-top: 1px solid var(--kemosite_wordpress_component_colour); }
hr, .woocommerce-breadcrumb { border-bottom: 1px solid var(--kemosite_wordpress_component_colour); }
.woocommerce a.remove { line-height: 2ex; }

div.tag-cloud a.tag-cloud-link {
    background-color: var(--kemosite_wordpress_component_colour);
    border: 2px solid;
    border-color: var(--kemosite_wordpress_component_colour);
    color: var(--kemosite_wordpress_cool_white);
}

div.tag-cloud a.tag-cloud-link:hover,
div.tag-cloud a.tag-cloud-link:focus {
    background-color: var(--kemosite_wordpress_component_colour);
    border: 2px solid;
    border-color: var(--kemosite_wordpress_component_colour);
    color: var(--kemosite_wordpress_base_black);
    filter: saturate(50%) brightness(150%);
}

footer.grid_area_footer {
	background-color: var(--kemosite_wordpress_footer_bg_color);
	color: var(--kemosite_wordpress_footer_font_color);
}
footer.grid_area_footer a, footer.grid_area_footer a:link {
	color: var(--kemosite_wordpress_footer_font_color);
}
footer.grid_area_footer a:hover, footer.grid_area_footer a:focus {
	background-color: var(--kemosite_wordpress_component_colour);
	color: var(--kemosite_wordpress_base_black);
	filter: saturate(50%) brightness(150%);
}

.jetpack-social-widget-item a[target="_blank"]::after,
.jetpack-social-widget-item a[target="new"]::after {
    content: "";
}