@charset "utf-8";
/*-------------------------------------------------------------------
[TYPOGRAPHY: TABLE OF CONTENTS]
---------------------------------------------------------------------

# Font variables are defined as CSS variables in functions.php

# variables
# html, body
# accessibility
# header
# navigation
# content
# forms
# media
# widgets
# rss
# search
# ads
# footer

-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[FOVEAL VISION AND SACCADE DISCUSSION]
---------------------------------------------------------------------

# Eye Movements and the Use of Parafoveal Word Length Information
# in Reading
# "The foveal region comprises the area 1° on each side of the
# current fixation point (usually 6–8 letters). In the fovea, visual
# acuity is greatest and letters can be easily identified.
# In the fovea, visual acuity is greatest and letters can be
# easily identified. Visual acuity drops off markedly outside of
# the fovea, and letters are hard to identify..."
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668122/
# 
# Fovea centralis
# "The fovea sees only the central two degrees of the visual field"
# https://en.wikipedia.org/wiki/Fovea_centralis
#
# Eye movement in reading
# https://en.wikipedia.org/wiki/Eye_movement_in_reading
#
# Saccade
# "One reason for the saccadic movement of the human eye is that the
# central part of the retina—known as the fovea—which provides the
# high-resolution portion of vision is very small in humans,
# only about 1–2 degrees of vision, but it plays a critical role
# in resolving objects."
#
# "The distance the eye moves in each saccade (or short rapid movement)
# is between 1 and 20 characters with the average being 7–9 characters."
# https://en.wikipedia.org/wiki/Saccade
# 
# "A line of text shouldn’t be longer than 80 characters"
# https://www.w3.org/WAI/tutorials/page-structure/styling/

-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[DEVICE FIELD OF VISION DISCUSSION]
---------------------------------------------------------------------

# Office Ergonomics - Positioning the Monitor
# "...for comfortable viewing of images on a computer screen it is
# reasonable to place the monitor at about 15 degrees (or slightly
# lower) below the horizontal line. Such a location creates a
# preferable visual zone of 30 degrees (+ 15 degrees to -15 degrees
# from the normal line of sight)."
# https://www.ccohs.ca/oshanswers/ergonomics/office/monitor_positioning.html
#
# Clinical Methods: The History, Physical, and Laboratory Examinations.
# 3rd edition.
# "The monocular visual field consists of central vision,
# which includes the inner 30 degrees of vision and central fixation..."
# https://www.ncbi.nlm.nih.gov/books/NBK220/
#
# Humphrey Visual Field
# "The extent of a uniocular visual field was given by Thomas Young.[2]
# This consists of the central 30 degrees field and extends to
# 60 degrees superiorly and medially."
# https://www.ncbi.nlm.nih.gov/books/NBK585112/
#
# Visual acuity
# "To see detail, two sets of receptors must be intervened by a
# middle set. The maximum resolution is that 30 seconds of arc,
# corresponding to the foveal cone diameter or the angle subtended at
# the nodal point of the eye."
# https://en.wikipedia.org/wiki/Visual_acuity

-------------------------------------------------------------------*/

:root {

    --kemosite-base-font-size: 1rem; /* Always start from device base size as minimum */
    --kemosite-foveal-vision-degrees: 1; /* Foveal vision, in degrees, for 3-4 letters. */
    --kemosite-field-of-view-degrees: 15; /* Ideal field of view variation, in degrees, for computer monitor. */
    /* --kemosite-foveal-vision-letters: clamp( 3, 3.5, 4); /* 3-4 letters */ 
    --kemosite-min-line-length: calc( var(--kemosite-field-of-view-degrees) * 3ch );
    --kemosite-ideal-line-length: calc( var(--kemosite-field-of-view-degrees) * 4ch );
    --kemosite-max-line-length: 80ch;
    --kemosite-border-size: .11em; /* Rule of thirds: font size / 3 (0.33), further devided by 3 (0.11) to accomodate a margin around the border.  */
    --kemosite-border: solid;

}

@media screen and (prefers-contrast: more) {
    
    :root {
        --kemosite-foveal-vision-letters: 2; /* 2 letters */
        --kemosite-border-size: .22em; /* Double standard border size  */
    }
    
}

@media screen and (prefers-contrast: less) {
    :root {
        --kemosite-border: dashed;
    }

}

:root {

    --kemosite-foveal-vision-letters: 3; /* 3 letters */
    --kemosite-foveal-vision-ratio: calc( var(--kemosite-foveal-vision-degrees) / var(--kemosite-field-of-view-degrees) );
    --kemosite-vmin-ratio: calc( ( 100vmin * var(--kemosite-foveal-vision-ratio) ) / var(--kemosite-foveal-vision-letters) );
    --kemosite-vmax-ratio: calc( ( 100vmax * var(--kemosite-foveal-vision-ratio) ) / var(--kemosite-foveal-vision-letters) );
    --kemosite-font-size: clamp( var(--kemosite-base-font-size), var(--kemosite-vmin-ratio), var(--kemosite-vmax-ratio) );
    --kemosite-font-size-adjust: 1ex;

    font-size: var(--kemosite-font-size);
    font-size-adjust: var(--kemosite-font-size-adjust);
    widows: 2;
    orphans: 2;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: none;
    font-kerning: auto;
    hyphens: none;

}

html body {
    font-family: var(--wp--preset--font-family--open-sans), Arial, sans-serif;
}

body, body * {
    font-size: inherit;
    line-height: 3ex;
}

.kemosite-container-section {
    container-name: kemosite-container-section;
    container-type: inline-size;
}

@container kemosite-container-section ( width > 80ch ) {
    /* main { columns: 59ch auto; } */
    main { font-size: calc( 1em + 1.25cqw); } /* 100% / 80ch = 1.25% per character. */

}

.kemosite-container-main {
    container-name: kemosite-container-main;
    container-type: inline-size;
}

@container kemosite-container-main ( width > 80ch ) {
    /* main { columns: 59ch auto; } */
    main { font-size: calc( 1em + 1.25cqw); } /* 100% / 80ch = 1.25% per character. */

}

/* HEADER GROUPS */
/* vh units seem to work better than ex units in Google Chrome on Android. */
h1 { font-size: clamp( 3.75vh, calc(3.75vh + 3.75vw), 30vh ); font-weight: normal; } /* [PAGE TITLES] */ 
h2 { font-size: clamp( 3vh, calc(3vh + 3vw), 6vh ); font-weight: normal; } /* [SUBTITLES] */
h3 { font-size: clamp( 2vh, calc(2vh + 2vw), 4vh ); font-weight: normal; } /* [SECTION TITLES+] */
h4 { font-size: 1em; font-weight: bold; }       /* [Body Copy Size] */
h5 { font-size: .875em; font-weight: bold; }    /* [Small] */
h6 { font-size: .75em; font-weight: bold; }     /* [Smaller] */

h1,h2,h3,h4,h5,h6 { 
    margin-top: 3ex;
    text-align: center;
    font-family: var(--wp--preset--font-family--roboto-condensed), Arial, sans-serif;
}

ul.eyebrow-headline {
    list-style-type: none;
    padding: 0; margin: 0;
}
ul.eyebrow-headline li:first-child {
    margin: 0;
    display: block;
}
ul.eyebrow-headline li {
    display: none;
}

div.kemosite-grid-area-section section h1 {
    margin: 0;
}

.woocommerce-breadcrumb { text-align: center; }

.product .woocommerce-Tabs-panel h1, .product .woocommerce-Tabs-panel--description h1, .type-product .woocommerce-Tabs-panel h1, .type-product .woocommerce-Tabs-panel--description h1,
.product .woocommerce-Tabs-panel h2, .product .woocommerce-Tabs-panel--description h2, .type-product .woocommerce-Tabs-panel h2, .type-product .woocommerce-Tabs-panel--description h2,
.product .woocommerce-Tabs-panel h3, .product .woocommerce-Tabs-panel--description h3, .type-product .woocommerce-Tabs-panel h3, .type-product .woocommerce-Tabs-panel--description h3,
.product .woocommerce-Tabs-panel h4, .product .woocommerce-Tabs-panel--description h4, .type-product .woocommerce-Tabs-panel h4, .type-product .woocommerce-Tabs-panel--description h4,
.product .woocommerce-Tabs-panel h5, .product .woocommerce-Tabs-panel--description h5, .type-product .woocommerce-Tabs-panel h5, .type-product .woocommerce-Tabs-panel--description h5,
.product .woocommerce-Tabs-panel h6, .product .woocommerce-Tabs-panel--description h6, .type-product .woocommerce-Tabs-panel h6, .type-product .woocommerce-Tabs-panel--description h6,
.related.products h1,
.related.products h2,
.related.products h3,
.related.products h4,
.related.products h5,
.related.products h6,
.product-category h1,
.product-category h2,
.product-category h3,
.product-category h4,
.product-category h5,
.product-category h6,
.card-section h1,
.card-section h2,
.card-section h3,
.card-section h4,
.card-section h5,
.card-section h6 {
    text-align: center;
}

div.section h1,
div.section h2,
div.section h3,
div.section h4,
div.section h5,
div.section h6 { 
    margin: 0;
}

div.section header h1 { font-size: calc(1rem + 3vh); }

.course-curriculum ul.curriculum-sections .section-header .section-title,
.course-curriculum ul.curriculum-sections .section-header .section-desc {
    margin: inherit !important;
}

.accordion-title { font-size: 1em; }

.media-object h4 {
    margin-top: 0;
    text-align: left;
}

* p, * ul, * ol {
    margin-top: 3ex;
    margin-bottom: 0;
}

* p:first-child, * ul:first-child, * ol:first-child,
h1 + p, h1 + ul, h1 + ol,
h2 + p, h2 + ul, h2 + ol,
h3 + p, h3 + ul, h3 + ol,
h4 + p, h4 + ul, h4 + ol,
h5 + p, h5 + ul, h5 + ol,
h6 + p, h6 + ul, h6 + ol {
    margin-top: 0;
}

li { margin-top: 3ex; margin-bottom: 3ex; line-height: 3ex}

td.label {
  display: table-cell;
  color: inherit;
  background: inherit;
  font-size: inherit;
  font-weight: 600;
}

figcaption {
    text-align: center;
    font-size: .875em;
    font-style: oblique;
}

label.a-form-label { display: inline-block; }

/* [DEFAULT LINK FORMATTING] */

main p > a,
main li > a:not(.wc-block-grid__product-link),
a[rel="bookmark"],
.nav-links a,
footer a,
footer li a,
footer li.wp-block-navigation-item a {
    border-bottom: 1px solid;
    border-radius: 0;
    font-weight: 600;
}

a[name] {
    border-bottom: 0;
}

/* emails */
a[href^="mailto:"]:after {
    font-family: 'modern_pictogramsnormal';
    content: "m";
    margin-left: .25em;
}

/* pdfs */
a[href$=".pdf"]:after {
    font-family: 'modern_pictogramsnormal';
    content: "K";
    margin-left: .25em;
}

/* highlight links that open in a new window */
a[target="_blank"]:after,
a[target="new"]:after {
    font-family: 'modern_pictogramsnormal';
    content: "W";
    margin-left: .25em;
}

/* Remove pictograms from certain links */
.jetpack-social-widget-item a[target="_blank"]::after,
.jetpack-social-widget-item a[target="new"]::after {
    content: "";
}

li.categories {
    list-style: none;
}

li.jetpack-social-widget-item {
    list-style: none;
    display: inline-block;
}

/* A neat way of styling your blockquotes to add a bit more punch to them. */

blockquote {
     background:#f9f9f9;
     border-left:10px solid #ccc;
     margin:1.5em 10px;
     padding:.5em 10px;
     quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
     color:#ccc;
     content:open-quote;
     font-size:4em;
     line-height:.1em;
     margin-right:.25em;
     vertical-align:-.4em;
}
blockquote p {
     display:inline;
}

select, input, button, a.button, .button, a.wp-block-button__link,
.wp-block-button__link.add_to_cart_button,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, /* WooComerce */
[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea { 
    font-size: 1em;
    padding: .5em 1em;
    font-weight: 600;
}

div.the.exerpt p {
    font-size: 1.25rem;
}

.entry-date.published { display: block; }
time.updated:before { content: "Updated: "; }

.woocommerce-loop-product__title,
.WooZone-price-info { 
    font-size: 1em;
    display: block;
}

.related.products .WooZone-price-info { display: none; }

.woocommerce-loop-product__title .price { margin-top: 3ex; }
.summary .price { font-size: calc(1em + 1vh); }
p.price { text-align: center; }

.button.small { font-size: .875em; }
.button.medium { font-size: 1em; }
.button.large { font-size: calc(1em + 1vh); }

div.columns p {
    line-height: 3ex;
    vertical-align: baseline;
    margin-bottom: 3ex;
}

.callout * { column-span: none !important; }

div.tag-cloud { font-size: .875rem; }

footer { font-size: 1rem; }

.copyright { 
    text-align: center;
}

.mailpoet_form_html * {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
}