@charset "utf-8";

:root {
	--layout: "screen-150-portrait";
}

.kemosite-grid-layout {
	grid-template-columns: minmax(45ch, 60ch) minmax(60ch, 1fr) minmax(45ch, 60ch);
	grid-template-rows: auto minmax(15ex, 33vh) auto auto;
}

/*
.kemosite-grid-area-main .wp-block-post-content {
	columns: 59ch auto;
}
*/

.kemosite-container-main {
	container-name: kemosite-container-main;
	container-type: inline-size;
}