@charset "utf-8";

:root {
	--golden_ratio: 1.618;
}

.speech {

	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;

}

.wp-block-search__inside-wrapper { border: 0; }

div.kemosite-grid-layout .wp-block-site-logo.is-default-size img {
	height: 96px;
	width: auto;
}

div.kemosite-grid-area-section,
div.kemosite-grid-area-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.kemosite-grid-area-section header {
	display: flex;
	flex-direction: column;
	padding: 2ex 3ch
}
div.kemosite-grid-area-section header h1 {
	order: 2;
}
div.kemosite-grid-area-section header ul.eyebrow-headline {
	order: 1;
}

.kemosite-grid-area-main li,
.kemosite-grid-area-footer {
	ontent-visibility: auto;
	contain-intrinsic-size: 100vh; /* Provides a placeholder size to avoid jumps. */
}

.kemosite-grid-area-main .wp-block-post-content {
	columns: 39ch auto;
	column-gap: 3ch;
	margin: 1ex 3ch;
}

button.wp-block-navigation__responsive-container-open {
	display: none;
}