<!-- wp:group {"className":"kemosite-grid-layout"} -->
<div class="wp-block-group kemosite-grid-layout">

<!-- wp:group {"className":"kemosite-grid-area-menu"} -->
<div class="wp-block-group kemosite-grid-area-menu">
<!-- wp:template-part {"slug":"menu","tagName":"menu","area":"menu"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-section"} -->
<div class="wp-block-group kemosite-grid-area-section">
<!-- wp:template-part {"slug":"page-section","tagName":"section","area":"Section"} /-->	
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-left-sidebar"} -->
<div class="wp-block-group kemosite-grid-area-left-sidebar">
<!-- wp:template-part {"slug":"left-sidebar","tagName":"left-sidebar","area":"Left Sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-main"} -->
<div class="wp-block-group kemosite-grid-area-main">

<h2>Oops!</h2>
<p>It seems that some signals might be crossed. The page you're looking forward isn't here. Maybe try one of the links below, or do a search?</p>

<h3>Post Categories</h3>
<!-- wp:categories {"showHierarchy":true} /-->

<h3>Post Archives</h3>
<!-- wp:archives /-->

</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-right-sidebar"} -->
<div class="wp-block-group kemosite-grid-area-right-sidebar">
<!-- wp:template-part {"slug":"right-sidebar","tagName":"right-sidebar","area":"Right Sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-footer"} -->
<div class="wp-block-group kemosite-grid-area-footer">
<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"Footer"} /-->
</div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->