<!-- wp:group {"className":"kemosite-grid-layout"} -->
<div class="wp-block-group kemosite-grid-layout"><!-- wp:group {"className":"kemosite-grid-area-menu"} -->
<div class="wp-block-group kemosite-grid-area-menu"><!-- wp:template-part {"slug":"menu","tagName":"menu","area":"menu"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-section"} -->
<div class="wp-block-group kemosite-grid-area-section"><!-- wp:template-part {"slug":"section","tagName":"section","area":"Section"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-left-sidebar"} -->
<div class="wp-block-group kemosite-grid-area-left-sidebar"><!-- wp:template-part {"slug":"left-sidebar","tagName":"left-sidebar","area":"Left Sidebar"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-main"} -->
<div class="wp-block-group kemosite-grid-area-main"><!-- wp:template-part {"slug":"main","tagName":"main","area":"Main"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-right-sidebar"} -->
<div class="wp-block-group kemosite-grid-area-right-sidebar"><!-- wp:template-part {"slug":"right-sidebar","tagName":"right-sidebar","area":"Right Sidebar"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-footer"} -->
<div class="wp-block-group kemosite-grid-area-footer"><!-- wp:template-part {"slug":"footer","tagName":"footer","area":"Footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->