<!-- wp:group {"className":"kemosite-grid-layout"} -->
<div class="kemosite-grid-layout wp-block-group">

<!-- wp:group {"className":"kemosite-grid-area-menu"} -->
<div class="wp-block-group kemosite-grid-area-menu">
<!-- wp:template-part {"slug":"menu","tagName":"menu","area":"menu"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-section"} -->
<div class="kemosite-grid-area-section wp-block-group">
<!-- wp:template-part {"slug":"page-section","area":"Section","tagName":"section"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-left-sidebar"} -->
<div class="kemosite-grid-area-left-sidebar wp-block-group">
<!-- wp:template-part {"slug":"left-sidebar","area":"Left Sidebar","tagName":"left-sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-main"} -->
<div class="kemosite-grid-area-main wp-block-group">
<!-- wp:template-part {"slug":"main","area":"Main","tagName":"main"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-right-sidebar"} -->
<div class="kemosite-grid-area-right-sidebar wp-block-group">
<!-- wp:template-part {"slug":"right-sidebar","area":"Right Sidebar","tagName":"right-sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-footer"} -->
<div class="kemosite-grid-area-footer wp-block-group">
<!-- wp:template-part {"slug":"footer","area":"Footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->