<div class="kemosite-grid-layout">

<div class="kemosite-grid-area-menu">
<!-- wp:template-part {"slug":"menu","area":"menu","tagName":"menu"} /-->
</div>

<div class="kemosite-grid-area-section">
<!-- wp:template-part {"slug":"page-section","area":"section","tagName":"section"} /-->
</div>

<div class="kemosite-grid-area-left-sidebar">
<!-- wp:template-part {"slug":"left-sidebar","area":"left-sidebar","tagName":"left-sidebar"} /-->
</div>

<div class="kemosite-grid-area-main">
<!-- wp:template-part {"slug":"page-main","area":"main","tagName":"main"} /-->
</div>

<div class="kemosite-grid-area-right-sidebar">
<!-- wp:template-part {"slug":"right-sidebar","area":"right-sidebar","tagName":"right-sidebar"} /-->
</div>

<div class="kemosite-grid-area-footer">
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
</div>

</div>