<!-- wp:group {"className":"kemosite-grid-layout"} -->
<div class="wp-block-group kemosite-grid-layout"><!-- wp:group {"className":"kemosite-grid-area-menu"} -->
<div class="wp-block-group kemosite-grid-area-menu"><!-- wp:template-part {"slug":"menu","tagName":"menu","area":"menu"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-section"} -->
<div class="wp-block-group kemosite-grid-area-section"><!-- wp:template-part {"slug":"page-section","tagName":"section","area":"Section"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-left-sidebar"} -->
<div class="wp-block-group kemosite-grid-area-left-sidebar"><!-- wp:template-part {"slug":"left-sidebar","tagName":"left-sidebar","area":"Left Sidebar"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-main"} -->
<div class="wp-block-group kemosite-grid-area-main">

<!-- wp:query {"queryId":25,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"enhancedPagination":true} -->
<div class="wp-block-query">

<!-- wp:post-template -->
<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-excerpt {"excerptLength":100} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when the query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

</div>
<!-- /wp:query -->

</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-right-sidebar"} -->
<div class="wp-block-group kemosite-grid-area-right-sidebar"><!-- wp:template-part {"slug":"right-sidebar","tagName":"right-sidebar","area":"Right Sidebar"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-footer"} -->
<div class="wp-block-group kemosite-grid-area-footer"><!-- wp:template-part {"slug":"footer","tagName":"footer","area":"Footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->