<!-- wp:group {"className":"kemosite-grid-layout"} -->
<div class="kemosite-grid-layout wp-block-group">

<!-- wp:group {"className":"kemosite-grid-area-menu"} -->
<div class="kemosite-grid-area-menu wp-block-group">
<!-- wp:template-part {"slug":"menu","area":"menu","tagName":"menu", "style": { "padding": 0 } } /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-section"} -->
<div class="kemosite-grid-area-section wp-block-group lazy">
<!-- wp:template-part {"slug":"post-section","area":"Section","tagName":"section"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-left-sidebar"} -->
<div class="kemosite-grid-area-left-sidebar wp-block-group">
<!-- wp:template-part {"slug":"left-sidebar","area":"Left Sidebar","tagName":"left-sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-main"} -->
<div class="kemosite-grid-area-main wp-block-group kemosite-container-main">
<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-right-sidebar"} -->
<div class="kemosite-grid-area-right-sidebar wp-block-group">
<!-- wp:template-part {"slug":"right-sidebar","area":"Right Sidebar","tagName":"right-sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"kemosite-grid-area-footer"} -->
<div class="kemosite-grid-area-footer wp-block-group">
<!-- wp:template-part {"slug":"footer","area":"Footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->